<template name="passwordReset">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>

        <h1 class="logo-name">ToT</h1>

      </div>
      <h3>Password Reset</h3>
      <p>Please submit your new password.</p>
      <form class="m-t" role="form" action="#">
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" required="" name="newPassword">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
      </form>
      <p class="m-t"> <small>Totem Technology Inc &copy; 2015</small> </p>
    </div>
  </div>
</template>